<h3>Change Password</h3>

<form id="change_password" method="post" action="/user/change_password" class="form-inline well">
        <label>New Password</label>
        <br />
        <input type="password" name="new_password"/>
        <br />
        <br />
        <label>Confirm Password</label>
        <br />
        <input type="password" name="confirm_password"/>
        <br />
        <br />
        <button class="btn primary" type="submit" name="action" value="change">Change</button>
</form>
