<h3>Recover Password</h3>

<form id="recover_password" method="post" action="/recover_password" class="form-inline well">
        <label>Username or Email</label>
        <br />
        <input type="text" name="username_or_email"/>
        <br />
        <br />
        <button class="btn primary" type="submit" name="action" value="send">Send Password</button>
</form>
